*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table{
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  min-width: 70%;
}
td,th{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}
tr:last-child{
  border-right: none;
}
.Container{
  display: flex;
  justify-content: center;
}


.creatBtn{
  padding: 10px;
  border: 2px solid black;
  background: whitesmoke;
  cursor: pointer;
}

.accs{
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 300px;
}

.filter{
  width: 300px;
  font-size: 20px;
  padding: 2px;
}

form{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
}

.create{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
} 
label input{
  width: 300px;
  font-size: 20px;
  padding: 5px;
}

.createToNav{
  padding: 10px;
  border: 1px solid black;
  background: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  width: 80px;
  cursor: pointer;
}

.name:focus{
  background-color: gray;
}
.number:focus{
  background-color: gray;
}