* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 50px;
  text-align: center;
  min-width: 70%;
}
td,
th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
th {
  background-color: plum;
}

.Container {
  display: flex;
  justify-content: center;
}

.creatBtn {
  padding: 10px;
  border: 1px solid black;
  background: plum;
  cursor: pointer;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.accs {
  padding: 55px;
  display: flex;
  justify-content: center;
  gap: 300px;
}

.filter {
  width: 300px;
  font-size: 20px;
  padding: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

form {
  background-color: plum;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
label input {
  width: 300px;
  font-size: 20px;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
  margin: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.createToNav {
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(104, 20, 104);
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: 100px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.name:focus {
  background-color: rgb(104, 20, 104);
  color: white;
}
.number:focus {
  background-color: rgb(104, 20, 104);
  color: white;
}
.country:focus {
  background-color: rgb(104, 20, 104);
  color: white;
}
